In [7]:
using DataFrames, CSV

## Import sequences and read variant and sequence

In [10]:
df = CSV.read("../data/gen2/TWIST_sequences_niko_30000.csv")

Names = String[]
seqs = String[]
for i in 1:nrow(df)
    name, seq = split(df[i, :][1], ",")
    push!(Names, name)
    push!(seqs, seq)
end

df = DataFrames.DataFrame(name=Names, seq=seqs)
first(df, 5)

5×2 DataFrame. Omitted printing of 1 columns
│ Row │ name   │
│     │ String │
├─────┼────────┤
│ 1   │ acrA_0 │
│ 2   │ acrA_1 │
│ 3   │ acrA_2 │
│ 4   │ acrA_3 │
│ 5   │ acrA_4 │

In [12]:
genes = map(x->split(x, "_")[1], df.name) |> unique

20-element Array{SubString{String},1}:
 "acrA"
 "acrB"
 "cusC"
 "cusR"
 "acrZ"
 "mdtA"
 "acrD"
 "tolC3"
 "envR14"
 "acrE"
 "gadX"
 "gadY"
 "gadW1"
 "gadW2"
 "mdtE2"
 "gadE3"
 "gadE4"
 "gadE1"
 "gadE"
 "neg"