# Designing purR sequences

(c) 2020 Tom RÃ¶schinger and Suzy Beeler. This work is licensed under a [Creative Commons Attribution License CC-BY 4.0](https://creativecommons.org/licenses/by/4.0/). All code contained herein is licensed under an [MIT license](https://opensource.org/licenses/MIT).

In [12]:
import wgregseq
%load_ext autoreload
%autoreload 2

import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Define the sequences we want to work with:

- `lacUV5_purR_overlap`: TCGAG**TTTACA**C<u>ACGCAAACGTTTTCGT</u>G**TATAAT**GTGTGG 
- `lacUV5_purR_downstream`: TCGAG**TTTACA**CTTTATGCTTCCGGCTCG**TATAAT**GTGTGG<u>ACGCAAACGTTTTCGT</u>

With the -10 and -35 sites in bold for reference, and the purR binding site underlined.

In [13]:
lacUV5_purR_overlap = "TCGAGTTTACACACGCAAACGTTTTCGTGTATAATGTGTGG"
lacUV5_purR_downstream = "TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCAAACGTTTTCGT"

Let's make sure to figure out which region of each sequence we want to mutate (i.e. just the purR binding site):

In [14]:
lacUV5_purR_overlap[12:28]

'ACGCAAACGTTTTCGT'

In [15]:
lacUV5_purR_downstream[-16:]

'ACGCAAACGTTTTCGT'

## Constructs

### LacUV5 with operator downstream

In [16]:
mutants_single = wgregseq.mutations_det(lacUV5_purR_downstream, mut_per_seq=1, site_start=-16)
downstream_df_single = pd.DataFrame({"seq":mutants_single})
downstream_df_single["description"] = "lacUV5 purR downstream single mutant"
downstream_df_single.tail()

,seq,description
43,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream single mutant
44,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream single mutant
45,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream single mutant
46,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream single mutant
47,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream single mutant

In [17]:
mutants_double = wgregseq.mutations_det(lacUV5_purR_downstream, mut_per_seq=2, site_start=-16)
downstream_df_double = pd.DataFrame({"seq":mutants_double})
downstream_df_double["description"] = "lacUV5 purR downstream double mutant"
downstream_df_double.tail()

,seq,description
1075,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream double mutant
1076,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream double mutant
1077,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream double mutant
1078,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream double mutant
1079,TCGAGTTTACACTTTATGCTTCCGGCTCGTATAATGTGTGGACGCA...,lacUV5 purR downstream double mutant

### LacUV5 with operator overlapping

In [18]:
mutants_single = wgregseq.mutations_det(lacUV5_purR_overlap, mut_per_seq=1, site_start=12, site_end=28)
overlap_df_single = pd.DataFrame({"seq":mutants_single})
overlap_df_single["description"] = "lacUV5 purR overlap single mutant"
overlap_df_single.tail()

,seq,description
43,TCGAGTTTACACACGCAAACGTTgTCGTGTATAATGTGTGG,lacUV5 purR overlap single mutant
44,TCGAGTTTACACACGCAAACGTTTgCGTGTATAATGTGTGG,lacUV5 purR overlap single mutant
45,TCGAGTTTACACACGCAAACGTTTTtGTGTATAATGTGTGG,lacUV5 purR overlap single mutant
46,TCGAGTTTACACACGCAAACGTTTTCtTGTATAATGTGTGG,lacUV5 purR overlap single mutant
47,TCGAGTTTACACACGCAAACGTTTTCGgGTATAATGTGTGG,lacUV5 purR overlap single mutant

In [19]:
mutants_double = wgregseq.mutations_det(lacUV5_purR_overlap, mut_per_seq=2, site_start=12, site_end=28)
overlap_df_double = pd.DataFrame({"seq":mutants_double})
overlap_df_double["description"] = "lacUV5 purR overlap double mutant"
overlap_df_double.tail()

,seq,description
1075,TCGAGTTTACACACGCAAACGTTTTttTGTATAATGTGTGG,lacUV5 purR overlap double mutant
1076,TCGAGTTTACACACGCAAACGTTTTtGgGTATAATGTGTGG,lacUV5 purR overlap double mutant
1077,TCGAGTTTACACACGCAAACGTTTTCtaGTATAATGTGTGG,lacUV5 purR overlap double mutant
1078,TCGAGTTTACACACGCAAACGTTTTCtcGTATAATGTGTGG,lacUV5 purR overlap double mutant
1079,TCGAGTTTACACACGCAAACGTTTTCtgGTATAATGTGTGG,lacUV5 purR overlap double mutant

### Combine them all

In [20]:
purR_df = pd.concat([downstream_df_single, downstream_df_double, overlap_df_single, overlap_df_double], ignore_index=True)
purR_df.tail()

,seq,description
2251,TCGAGTTTACACACGCAAACGTTTTttTGTATAATGTGTGG,lacUV5 purR overlap double mutant
2252,TCGAGTTTACACACGCAAACGTTTTtGgGTATAATGTGTGG,lacUV5 purR overlap double mutant
2253,TCGAGTTTACACACGCAAACGTTTTCtaGTATAATGTGTGG,lacUV5 purR overlap double mutant
2254,TCGAGTTTACACACGCAAACGTTTTCtcGTATAATGTGTGG,lacUV5 purR overlap double mutant
2255,TCGAGTTTACACACGCAAACGTTTTCtgGTATAATGTGTGG,lacUV5 purR overlap double mutant

In [10]:
purR_df.to_csv("purR_twist_order.csv")